<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gl.sy.alfred-notion-quick-access</string>
	<key>connections</key>
	<dict>
		<key>278DC118-9DEF-4FF8-BDE6-AE52299E37AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FAAD45EE-AABF-4373-AAEC-A5EDC513F4BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F355BF0-E02F-48C0-B4B2-805F99BDDF8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68E577FE-B52F-46FF-967E-78D5DC121728</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2EF0BEC-3236-4800-AD9B-0C4BD176D62F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68E577FE-B52F-46FF-967E-78D5DC121728</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Steyn Huurman</string>
	<key>description</key>
	<string>Access the pages in your Notion databases super quickly.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notion Quick Access</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nq</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat $alfred_workflow_cache/cache.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Notion Quick Access '{query}'</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D2EF0BEC-3236-4800-AD9B-0C4BD176D62F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>68E577FE-B52F-46FF-967E-78D5DC121728</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nq</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading extra results...</string>
				<key>script</key>
				<string>/usr/local/bin/python3 ./load.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Notion Quick Access '{query}'</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8F355BF0-E02F-48C0-B4B2-805F99BDDF8C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nq refresh icons</string>
				<key>subtext</key>
				<string>Delete cache and re-download icons</string>
				<key>text</key>
				<string>Refresh Icons</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>278DC118-9DEF-4FF8-BDE6-AE52299E37AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 ./load.py --refresh-icons</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>load.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FAAD45EE-AABF-4373-AAEC-A5EDC513F4BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Access the pages in your Notion databases super quickly.

Set-up:
1. Get an integration token from https://www.notion.so/my-integrations, and fill in for the "integration_token" variable.
2. Choose which databases you want to access, and provide their IDs as comma-separated list in the "database_ids" variable.</string>
	<key>uidata</key>
	<dict>
		<key>278DC118-9DEF-4FF8-BDE6-AE52299E37AD</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>68E577FE-B52F-46FF-967E-78D5DC121728</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>8F355BF0-E02F-48C0-B4B2-805F99BDDF8C</key>
		<dict>
			<key>note</key>
			<string>Load from Notion</string>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>D2EF0BEC-3236-4800-AD9B-0C4BD176D62F</key>
		<dict>
			<key>note</key>
			<string>Read cache</string>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>FAAD45EE-AABF-4373-AAEC-A5EDC513F4BC</key>
		<dict>
			<key>note</key>
			<string>Refresh icon cache</string>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>database_ids</key>
		<string></string>
		<key>integration_token</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>database_ids</string>
		<string>integration_token</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/steynh/alfred-notion-quick-access</string>
</dict>
</plist>
